@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Font Face Definitions */
@font-face {
  font-family: "Nourd";
  src: url("/fonts/Nourd-Bold.woff2") format("woff2"),
    url("/fonts/Nourd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nourd";
  src: url("/fonts/Nourd-Heavy.woff2") format("woff2"),
    url("/fonts/Nourd-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nourd";
  src: url("/fonts/Nourd-Light.woff2") format("woff2"),
    url("/fonts/Nourd-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nourd";
  src: url("/fonts/Nourd-SemiBold.woff2") format("woff2"),
    url("/fonts/Nourd-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nourd";
  src: url("/fonts/Nourd-Regular.woff2") format("woff2"),
    url("/fonts/Nourd-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nourd";
  src: url("/fonts/Nourd-Medium.woff2") format("woff2"),
    url("/fonts/Nourd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}
